<li class="group flex cursor-pointer select-none items-center rounded-md p-2 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:text-gray-900"
    id="recent-1" role="option" tabindex="1">
    <img [src]="item?.image?.medium" alt="" class="h-6 w-6 flex-none rounded-full" *ngIf="!imageError"
        (error)="imageError = true" (load)="imageLoaded = true">
    <div class="bg-slate-200 h-6 w-6 flex-none rounded-full" *ngIf="imageError"></div>
    <span class="ml-3 flex-auto truncate">{{item?.name}}</span>
    <!-- Not Active: "hidden" -->
    <svg class="ml-3 hidden h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd" />
    </svg>
</li>